{% extends 'base.html.twig' %}

{% block title %}Purchases{% endblock %}

{% block body %}
    <h1>Purchases</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ purchase.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ purchase.quantity }}</td>
            </tr>
            <tr>
                <th>Unit_price</th>
                <td>{{ purchase.unitPrice }}</td>
            </tr>
            <tr>
                <th>Purchace_date</th>
                <td>{{ purchase.purchaceDate ? purchase.purchaceDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_purchases_index') }}">back to list</a>

    <a href="{{ path('app_purchases_edit', {'id': purchase.id}) }}">edit</a>

    {{ include('purchases/_delete_form.html.twig') }}
{% endblock %}
