{% extends 'base.html.twig' %}

{% block title %}Inventories index{% endblock %}

{% block body %}
    <h1>Inventories index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inventory in inventories %}
            <tr>
                <td>{{ inventory.id }}</td>
                <td>{{ inventory.quantity }}</td>
                <td>
                    <a href="{{ path('app_inventories_show', {'id': inventory.id}) }}">show</a>
                    <a href="{{ path('app_inventories_edit', {'id': inventory.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_inventories_new') }}">Create new</a>
{% endblock %}
