{% extends 'base.html.twig' %}

{% block title %}Inventories{% endblock %}

{% block body %}
    <h1>Inventories</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inventory.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ inventory.quantity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_inventories_index') }}">back to list</a>

    <a href="{{ path('app_inventories_edit', {'id': inventory.id}) }}">edit</a>

    {{ include('inventories/_delete_form.html.twig') }}
{% endblock %}
