{% extends 'base.html.twig' %}

{% block title %}Warehauses index{% endblock %}

{% block body %}
    <h1>Warehauses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for warehause in warehauses %}
            <tr>
                <td>{{ warehause.id }}</td>
                <td>{{ warehause.name }}</td>
                <td>{{ warehause.address }}</td>
                <td>
                    <a href="{{ path('app_warehauses_show', {'id': warehause.id}) }}">show</a>
                    <a href="{{ path('app_warehauses_edit', {'id': warehause.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_warehauses_new') }}">Create new</a>
{% endblock %}
